body {
  background-color: #f2ede9;
  font-family: Helvetica, Arial, sans-serif;
}

#logoutButton {
  display: none;
  padding: 8px 16px;
  background-color: #f1f1f1;
  border: 1px solid #ddd;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}

/* Container for login elements */
.login-container {
  margin: 20px 0;
}

h1 {
  color: #632f0a;
  font-size: 50px;
  margin-bottom: 80px;
  margin-top: 40px;
  text-align: center;
}

#readRemindersButton {
  background-color: #632f0a;
  border: 6px solid #632f0a;
  border-radius: 6px;
  color: white;
  font-size: 40px;
  height: 90px;
  margin: 18px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  transition-duration: 0.1s;
  width: 260px;
}

#tasksButton, #calendarButton {
  background-color: #a54907;
  border: 6px solid #a54907;
  border-radius: 6px;
  color: white;
  font-size: 40px;
  height: 400px;
  margin: 18px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  transition-duration: 0.1s;
  width: 40%;
}

button:hover {
  background-color: f2ede9;
  border: 6px solid #632f0a;
  color: #632f0a;
  cursor: pointer;
}

.bottomWrapper{
  display: flex;
  margin-bottom: 100px;
}