h1 {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 60px;
  margin-top: 80px;
  margin-bottom: 80px;
  text-align: center;
  text-transform: uppercase;
}

button {
  border-radius: 6px;
  display: block;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 40px;
  height: 90px;
  margin: 18px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  transition-duration: 0.1s;
  width: 260px;
}

button:hover {
  cursor: pointer;
}

[data-theme="low-contrast"]{
  --bg-color: #f2ede9;
  --heading-color: #632f0a;
  --primary-btn: #a54907;
  --secondary-btn: #632f0a;
  --shadow-color: grey;

  background-color: var(--bg-color);

  button {
    background-color: var(--secondary-btn);
    border: 6px solid var(--secondary-btn);
    color: var(--bg-color);
  }

  & button:hover {
    background-color: var(--bg-color);
    border: 6px solid var(--secondary-btn);
    color: var(--secondary-btn);
  }
}

[data-theme="high-contrast"]{
  --bg-color: #f2ede9;
  --heading-color: #632f0a;
  --primary-btn: #a54907;
  --secondary-btn: #632f0a;
  --shadow-color: grey;

  background-color: var(--bg-color);

  button {
    background-color: var(--secondary-btn);
    border: 6px solid var(--secondary-btn);
    color: var(--bg-color);
  }

  & button:hover {
    background-color: var(--bg-color);
    border: 6px solid var(--secondary-btn);
    color: var(--secondary-btn);
  }
}

[data-theme="high-contrast"]{
  --bg-color: #f2ede9;
  --heading-color: #632f0a;
  --primary-btn: #a54907;
  --secondary-btn: #632f0a;
  --shadow-color: grey;

  background-color: var(--bg-color);

  button {
    background-color: var(--secondary-btn);
    border: 6px solid var(--secondary-btn);
    color: var(--bg-color);
  }

  & button:hover {
    background-color: var(--bg-color);
    border: 6px solid var(--secondary-btn);
    color: var(--secondary-btn);
  }
}

[data-theme="high-contrast"]{
  --bg-color: #f2ede9;
  --heading-color: #632f0a;
  --primary-btn: #a54907;
  --secondary-btn: #632f0a;
  --shadow-color: grey;

  background-color: var(--bg-color);

  button {
    background-color: var(--secondary-btn);
    border: 6px solid var(--secondary-btn);
    color: var(--bg-color);
  }

  & button:hover {
    background-color: var(--bg-color);
    border: 6px solid var(--secondary-btn);
    color: var(--secondary-btn);
  }
}