body {
    font-family: Helvetica, Arial, sans-serif;
}

#header {
    font-size: 56px;
    font-weight: bold;
    margin-left: 90px;
}

.leftWrapper {
    float: left;
    font-size: 40px;
    width: 50%;
}

.loginWrapper {
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    height: 60%;
    margin: 20px 50px;
}

.rightBox {
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    float: right;
    font-size: 40px;
    height: 100%;
    width: 50%;
}

.emailDiv {
    margin: 60px 70px auto 70px;
}

.passwordDiv {
    margin: 20px 70px auto 70px;
}

#email, #password {
    border-radius: 8px;
    box-sizing: border-box;
    font-size: 40px;
    height: 70px;
    margin: 18px 0px;
    width: 100%;
}

#email:focus, #password:focus {
    border-width: 4px;
}

#login {
    border: none;
    border-radius: 45px;
    font-size: 40px;
    height: 80px;
    margin: 40px auto;
    transition-duration: 0.1s;
    width: 85%;
}

#login:hover {
    cursor: pointer;
}

#signup {
    border: none;
    border-radius: 45px;
    font-size: 40px;
    height: 80px;
    transition-duration: 0.1s;
    width: 180px;
}

#signup:hover {
    cursor: pointer;
}


#para1 {
    font-size: 50px;
    font-weight: bold;
    margin-top: 10%;
}

#para2 {
    font-size: 70px;
    font-weight: bold;
    letter-spacing: 2px;
}

#para3 {
    font-weight: bold;
    margin-top: 30%;
}

.rightWrapper {
    align-content: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
}

[data-theme="low-contrast"]{
    --bg-color: #f2ede9;
    --text-field: white;
    --hover-btn: #cecac7;
    --heading-color: #632f0a;
    --primary-btn: #a54907;
    --secondary-btn: #632f0a;
    --shadow-color: grey;

    background-color: #f2ede9;

    & #header {
        color: var(--heading-color);
    }

    & .loginWrapper {
        border:10px solid var(--heading-color);
        box-shadow: 0px 2px 6px var(--shadow-color);
    }

    & .rightBox {
        background-color: var(--primary-btn);
    }

    & #email, & #password {
        border: 3px solid var(--heading-color);
        box-shadow: 0px 2px 5px var(--shadow-color);
    }

    & #login {
        background-color: var(--heading-color);
        box-shadow: 1px 3px 8px var(--shadow-color);
        color: #f2ede9;
    }

    & #login:hover {
        background-color: rgb(36, 20, 9);
    }

    & #signup {
        background-color: var(--bg-color);
        box-shadow: 1px 3px 8px var(--heading-color);
        color: var(--heading-color);
    }

    & #signup:hover {
        background-color: var(--hover-btn);
    }

    & #emailLabel, & #passwordLabel {
        color: var(--heading-color);
    }

    & #para1 {
        color: var(--text-field);
    }

    & #para2 {
        color: var(--text-field);
    }

    & #para3 {
        color: var(--text-field);
    }
  }

  [data-theme="high-contrast"]{
    --bg-color: #f2ede9;
    --text-field: white;
    --hover-btn: #cecac7;
    --heading-color: #632f0a;
    --primary-btn: #a54907;
    --secondary-btn: #632f0a;
    --shadow-color: grey;

    background-color: #f2ede9;

    & #header {
        color: var(--heading-color);
    }

    & .loginWrapper {
        border:10px solid var(--heading-color);
        box-shadow: 0px 2px 6px var(--shadow-color);
    }

    & .rightBox {
        background-color: var(--primary-btn);
    }

    & #email, & #password {
        border: 3px solid var(--heading-color);
        box-shadow: 0px 2px 5px var(--shadow-color);
    }

    & #login {
        background-color: var(--heading-color);
        box-shadow: 1px 3px 8px var(--shadow-color);
        color: #f2ede9;
    }

    & #login:hover {
        background-color: rgb(36, 20, 9);
    }

    & #signup {
        background-color: var(--bg-color);
        box-shadow: 1px 3px 8px var(--heading-color);
        color: var(--heading-color);
    }

    & #signup:hover {
        background-color: var(--hover-btn);
    }

    & #emailLabel, & #passwordLabel {
        color: var(--heading-color);
    }

    & #para1 {
        color: var(--text-field);
    }

    & #para2 {
        color: var(--text-field);
    }

    & #para3 {
        color: var(--text-field);
    }
}