body {
  font-family: Helvetica, Arial, sans-serif;
  margin: none;
}

h1 {
  font-size: 50px;
  margin-bottom: 80px;
  margin-top: 50px;
  text-align: center;
}

button {
  background-color: black;
  border: 6px solid black;
  border-radius: 50px;
  color: white;
  display: block;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 40px;
  font-weight: bold;
  height: 90px;
  margin: 18px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  transition-duration: 0.1s;
  width: 260px;
}

button:hover {
  background-color: white;
  border: 6px solid black;
  color: black;
  cursor: pointer;
}

.theme-switch-label, .toggle-switch-label {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 40px;
  font-weight: bold;
  margin-right: 20px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 120px;
  height: 68px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border: 3px solid #632f0a;
}

.slider:before {
  position: absolute;
  content: "";
  height: 52px;
  width: 52px;
  left: 8px;
  bottom: 5px;
  background-color: white;
  transition: .4s;
}

input:checked + .slider {
  background-color: #a54907;
}

input:focus + .slider {
  box-shadow: 0 0 1px #a54907;
}

input:checked + .slider:before {
  transform: translateX(52px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* Theme indicator text */
.theme-text {
  position: absolute;
  color: white;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  transition: .4s;
}

.theme-text.off {
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  opacity: 1;
}

.theme-text.on {
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
}

input:checked + .slider .theme-text.off {
  opacity: 0;
}

input:checked + .slider .theme-text.on {
  opacity: 1;
}

.setting-description {
  font-size: 30px;
  font-weight: bold;
}

#vision-header {
  font-size: 30px;
  font-weight: bold;
  margin-left: 12%;
}

.theme-switch-container {
  border-radius: 50px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0px auto;
  padding: 50px 70px;
  width: 80%;
}

.controlWrapper {
  border-radius: 50px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0px auto;
  padding: 50px 70px;
  width: 80%;
}

#control-header {
  font-size: 30px;
  font-weight: bold;
  margin-left: 12%;
  margin-top: 100px;
}

.toggle-switch-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.setting-description {
  margin-bottom: 100px;
}

#volume-button, #speed-button {
  font-size: 40px;
  font-weight: bold;
}

#volume, #speech-speed {
  width: 75%;
}

.volumeWrapper, .speedWrapper {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 100px;
}

[data-theme="low-contrast"]{
  --bg-color: #f2ede9;
  --heading-color: #632f0a;
  --primary-btn: #a54907;
  --secondary-btn: #632f0a;
  --text-color: white;
  --shadow-color: grey;

  & body {
    background-color: var(--bg-color);
  }

  & h1 {
    color: var(--heading-color);
  }

  & button {
    background-color: var(--primary-btn);
    border: 6px solid var(--primary-btn);
    box-shadow: 1px 2px 6px var(--shadow-color);
    color: var(--text-color);
  }
  
  & button:hover {
    background-color: var(--bg-color);
    border: 10px solid var(--primary-btn);
    color: var(--primary-btn);
  }

  & button:focus {
    background-color: var(--bg-color);
    border: 10px solid var(--primary-btn);
    color: var(--primary-btn);
    outline: none;
  }

  & #homeButton {
    background-color: var(--primary-btn);
    border: 6px solid var(--primary-btn);
    box-shadow: 1px 2px 6px var(--shadow-color);
    color: var(--text-color);
  }

  & #homeButton:hover {
    background-color: var(--bg-color);
    border: 6px solid var(--primary-btn);
    color: var(--primary-btn);
  }

  & #homeButton:focus {
    background-color: var(--bg-color);
    border: 10px solid var(--primary-btn);
    color: var(--primary-btn);
  }
  
  & .theme-switch-label {
    color: var(--secondary-btn);
  }
  
  & .slider {
    background-color: var(--secondary-btn);
    border: 4px solid var(--secondary-btn);
  }
  
  & .slider:before {
    background-color: var(--text-color);
  }
  
  & input:checked + .slider {
    background-color: var(--primary-btn);
  }
  
  & input:focus + .slider {
    box-shadow: 0 0 1px var(--primary-btn);
    outline: 5px solid var(--heading-color);
    outline-offset: 5px;
  }

  & input#speech-speed, & input#volume {
    accent-color: var(--secondary-btn);
  }

  & input#speech-speed:focus, & input#volume:focus {
    border-radius: 10px;
    outline: 5px solid var(--heading-color);
    outline-offset: 5px;
  }
  
  /* Theme indicator text */
  & .theme-text {
    color: var(--text-color);
  }

  & .setting-description {
    color: var(--secondary-btn);
  }

  & .controlWrapper {
    background-color: #e4dad1;
    border: 3px solid var(--secondary-btn);
    color: var(--heading-color);
    box-shadow: 1px 2px 6px var(--shadow-color);
  }

  & #control-header {
    color: var(--heading-color);
  }

  & .theme-switch-container {
    background-color: #e4dad1;
    border: 3px solid var(--secondary-btn);
    box-shadow: 1px 2px 6px var(--shadow-color);
  }

  & #vision-header {
    color: var(--heading-color);
  }
}

[data-theme="high-contrast"]{
  --bg-color: white;
  --heading-color: black;
  --primary-btn: black;
  --secondary-btn: black;
  --text-color: white;
  --shadow-color: grey;

  & h1 {
    color: var(--heading-color);
  }

  & button {
    background-color: var(--primary-btn);
    border: 6px solid var(--primary-btn);
    box-shadow: 1px 2px 6px var(--shadow-color);
    color: var(--text-color);
  }
  
  & button:hover {
    background-color: var(--bg-color);
    border: 10px solid var(--primary-btn);
    color: var(--primary-btn);
  }

  & button:focus {
    background-color: var(--bg-color);
    border: 10px solid var(--primary-btn);
    color: var(--primary-btn);
    outline: none;
  }

  & #homeButton {
    background-color: var(--secondary-btn);
    border: 6px solid var(--secondary-btn);
    box-shadow: 1px 2px 6px var(--shadow-color);
    color: var(--text-color);
  }

  & #homeButton:hover {
    background-color: var(--bg-color);
    border: 6px solid var(--secondary-btn);
    color: var(--secondary-btn);
  }

  & #homeButton:focus {
    background-color: var(--bg-color);
    border: 10px solid var(--primary-btn);
    color: var(--primary-btn);
  }
  
  & .theme-switch-label {
    color: var(--secondary-btn);
  }
  
  & .slider {
    background-color: var(--shadow-color);
    border: 4px solid var(--secondary-btn);
  }
  
  & .slider:before {
    background-color: var(--text-color);
  }
  
  & input:checked + .slider {
    background-color: var(--primary-btn);
  }
  
  & input:focus + .slider {
    box-shadow: 0 0 1px var(--primary-btn);
    outline: 5px solid var(--heading-color);
    outline-offset: 5px;
  }

  & input#speech-speed, & input#volume {
    accent-color: var(--secondary-btn);
  }

  & input#speech-speed:focus, & input#volume:focus {
    border-radius: 10px;
    outline: 5px solid var(--heading-color);
    outline-offset: 5px;
  }
  
  /* Theme indicator text */
  & .theme-text {
    color: var(--text-color);
  }

  & .controlWrapper {
    color: var(--heading-color);
    border: 3px solid var(--secondary-btn);
    box-shadow: 1px 2px 6px var(--shadow-color);
  }

  & .theme-switch-container {
    border: 3px solid var(--secondary-btn);
    box-shadow: 1px 2px 6px var(--shadow-color);
  }
}