body {
    background-color: #f2ede9;
    font-family: Helvetica, Arial, sans-serif;
    margin: 0px;
}

#header {
    color: #632f0a;
    font-size: 3rem;
    font-weight: bold;
    margin-left: 10%;
}

.leftWrapper {
    float: left;
    font-size: 2.5rem;
    width: 55%;
}

.loginWrapper {
    border:10px solid #632f0a;
    border-radius: 50px;
    box-shadow: 1px 2px 6px #857e78;
    display: flex;
    flex-direction: column;
    height: 60%;
    margin: 2% 7%;
    min-height: fit-content;
}

.rightBox {
    background-color: #a54907;
    float: right;
    font-size: 2.5rem;
    height: 100%;
    min-height: fit-content;
    min-width: fit-content;
    width: 45%;
}

.emailDiv {
    margin: 6% 7% auto 7%;
}

.passwordDiv {
    margin: 3% 7% auto 7%;
}

#email, #password {
    border: 3px solid #632f0a;
    border-radius: 8px;
    box-shadow: 1px 2px 6px #857e78;
    box-sizing: border-box;
    font-size: 2rem;
    height: 4.5rem;
    margin: 18px 0px;
    padding: 10px;
    width: 100%;
}

#email:focus, #password:focus {
    border-width: 5px;
}

#login {
    background-color: #632f0a;
    border: 6px solid #632f0a;
    border-radius: 45px;
    box-shadow: 1px 3px 8px #857e78;
    color: #f2ede9;
    font-size: 2.5rem;
    font-weight: bold;
    height: 5rem;
    margin: 5% 6%;
    transition-duration: 0.1s;
}

#login:hover {
    background-color: #f2ede9;
    color: #632f0a;
    cursor: pointer;
}

#signup {
    background-color: white;
    border: 6px solid white;
    border-radius: 45px;
    box-shadow: 1px 3px 8px #632f0a;
    color: #632f0a;
    font-size: 2.5rem;
    font-weight: bold;
    height: 5rem;
    transition-duration: 0.1s;
    width: 80%;
}

#signup:hover {
    background-color: #a54907;
    color: white;
    cursor: pointer;
}

#emailLabel, #passwordLabel {
    color: #632f0a;
}

#para1 {
    color: white;
    font-size: 3rem;
    font-weight: bold;
    margin-top: 10%;
}

#para2 {
    color: white;
    font-size: 4rem;
    font-weight: bold;
}

#para3 {
    color: white;
    font-weight: bold;
    margin-top: 30%;
}

.rightWrapper {
    align-content: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
}





